.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgba(59, 59, 59, 0.47);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 20px;
    /* display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0; */
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
}